__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/
pip-wheel-metadata/

*.log
*.tmp
*.bak
*.swp

*.pyo

.vscode/

build/
dist/
*.spec

*.zip
todo.md
*.mp4
*.avi

savegames/
screenshots/
!lib/**/*.pyd
